@charset "UTF-8";

@import "../variables.css";

.c-title--white {
  color: var(--color-white) !important;
  text-shadow: 1px 0 0 var(--color-dark-blue), 0 -1px 0 var(--color-dark-blue), 0 1px 0 var(--color-dark-blue), -1px 0 0 var(--color-dark-blue) !important;
}

.c-title--red {
  color: var(--color-red) !important;
  text-shadow: 1px 0 0 var(--color-dark-blue), 0 -1px 0 var(--color-dark-blue), 0 1px 0 var(--color-dark-blue), -1px 0 0 var(--color-dark-blue) !important;
}



