@import url('../../variables.css');

:host {
    --font-size: 2rem;

    all: initial;
    display: block;
    font-family: var(--font);
}

.section__title {
    color: var(--color-white);
    font-size: var(--font-size);
    padding-inline-start: 2rem;
    position: relative;
}

.section__title::before {
    background-image: url('../../assets/icons8-sonic-screwdriver-80.png');
    background-size: contain;
    content: '';
    display: block;
    height: var(--font-size);
    width: var(--font-size);
    position: absolute;
    top: 0;
    left: -1rem;
}

.section__separator {
    animation: gradient 5s ease infinite;
    background-image: linear-gradient(130deg, var(--color-red), var(--color-white), var(--color-green));
    background-size: 200% 200%;
    border: 0;
    height: 0.125rem;
}

@keyframes gradient {
    0% {
        background-position: 10% 0%;
    }

    50% {
        background-position: 91% 100%;
    }

    100% {
        background-position: 10% 0%;
    }
}
