@import url('./variables.css');

html,
body {
    height: 100%;
}

.page {
    background-color: var(--color-dark);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    font-family: var(--font);
    margin-inline: 1rem;
    overflow: hidden;

    & .page__header {
        background-clip: border-box;
        background-image: url('./assets/CUUcfgz-doctor-who-hd-wallpaper.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 0.5rem 0.75rem 0.5rem rgba(0, 0, 0, 0.4);
        display: flex;
        flex-direction: row;
        margin-block-end: 1rem;

        & .page__header__logo {
            margin: 1rem;
        }

        & .page__header__title {
            font-size: 2.5rem;
            font-weight: bold;
            line-height: 2rem;

            & .page__header__title__sub {
                font-size: 1.5rem;
                font-style: italic;
            }
        }
    }

    & .page__content {
        flex: 1 1 auto;
        margin-block-end: 0.5rem;
        padding-inline: 3rem;
        overflow: auto;
        scrollbar-color: var(--color-red) var(--color-blue);
        scrollbar-width: thin;
    }

    & .page__footer {
        align-items: center;
        background-clip: border-box;
        background-image: url('./assets/CUUcfgz-doctor-who-hd-wallpaper.jpg');
        background-position: 100% 100%;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: row;
        gap: 3rem;
        height: 6rem;
        justify-content: center;
        margin-block-end: 1rem;
    }
}

:link {
    color: var(--color-grey);
}

:visited {
    color: var(--color-red);
}
