.page__content {
    & .page__content__code {
        display: flex;
        align-content: center;
        justify-content: center;
        position: relative;

    }

    & .page__content__demo {
        display: flex;
        justify-content: center;
        position: relative;

        .radius {
            position: relative;
            width: 200px;
            height: 200px;
            background: url(./387-350x250.jpg) center center no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 50px;

            &.radius--clip-path {
                clip-path: inset(0 0 round 40px 40px 40px 40px);
                filter: drop-shadow(0 0 0 white);
            }

            &.radius--border-radius {
                border-radius: 40px;
                overflow: hidden;
            }

            & .radius__tag {
                position: absolute;
                top: 0;
                left: 0;
                background: silver;
                width: 130px;
                height: 30px;
                font-size: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0 0 30px 0;
            }
        }

        .circle {
            position: absolute;
            z-index: 1;
            width: 85px;
            height: 85px;
            border: 4px solid red;
            border-radius: 100%;
            transform: translate(-85px, -25px);
        }
    }
}
