.page__content {
    table {
        border: 1px solid black;
    }

    th {
        resize: horizontal;
        overflow-x: auto;
    }

    ::-webkit-resizer {
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0 0 15px 15px;
        border-color: transparent transparent pink transparent;
    }
}
