<template id="logo">
    <link rel="stylesheet" href="./resources/components/logo/logo.css" />
    <figure class="logo">
        <section class="logo__wrapper">
            <img class="logo__wrapper__image" src="./resources/assets/black_dalek_400x400.jpg" title="Exterminate all humans" />
        </section>
        <audio preload="auto" loop="loop">
            <source src="./resources/sounds/exterminate.mp3" />
        </audio>
    </figure>

    <div class="logo-notice">EXTERMINATE!! EXTERMINATE!!</div>
</template>
