.page__content {
    .times {
        font-family: 'Times', serif;
        font-size: 14px;
    }

    .verdana {
        font-family: 'Verdana', sans-serif;
        font-size: 14px;
    }

    .adj-times-ex-height {
        font-size-adjust: 0.545;
    }

    .adj-times-cap-height {
        font-size-adjust: cap-height 0.73;
    }
}
